*{
    margin: 0; padding: 0;
    
    
}


.navbar{
    background-color: rgb(46, 43, 43);   
}

.navbar .h1-text{
    display: flex;
    color: rgb(126, 36, 36);
    font-size: 20px;
    padding: 0 25px;
    justify-content: center;
}

.navbar-content{
    display: flex;
   margin-top: 8px;
    align-items: center;
    margin-right: 50rem;
    
  
}
.navbar .navbar-content ul{
    display: flex;
    
    gap: 15px;
    list-style-type: none;
    font-size: 15px;
    
   
}

.navbar .navbar-content ul li a{
  color: gray;
  text-decoration: none;
 
}
.navbar .navbar-content ul li a:hover{
    color: white;
    transition: .5s;
}

.navbar .navbar-content ul li .home{
    color: white;
}


.container p{
    margin-top: 40px;
    text-align: center;
}


section{
    background-color: #E9ECEF;
    height: 100vh;
    
    
}

.hello{
    
    text-align: center;
    color:rgb(126, 36, 36);
    padding-top: 20px;
}

.container2{
   
    text-align: center;
    
}

.container-h1{
    color:rgb(126, 36, 36);

}

.types{
    text-align: center;
    list-style-position: inside;
}

.btn-primary{
    margin-left: 40rem;
   
}

.btn-primary a{
   color: white;
   text-decoration: none;
}
